
<div class="container-fluid text-white-50 footer pt-5" style="background-color: rgba(0, 82, 159,);">
    <div class="container py-5">
      <div class="row g-5">
        <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s"> <a href="https://techatix.com" class="d-inline-block mb-3">
          <h1 class="text-white">Techatix Corp<span class="text-primary"></span></h1>
          </a>
          <p>At Techatix, we are not just another IT consulting firm – we are your strategic partner in unlocking the full potential of technology to drive growth, efficiency, and success. With a relentless focus on innovation and a passion for excellence, we empower businesses of all sizes to embrace the future with confidence.</p>
        </div>
        <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s">
          <h5 class="text-white mb-4">Get In Touch</h5>
          <div class="mt-4 mt-md-0">
            <div class="info">
              <div style="display: flex; align-items: flex-start;"> <i class="ri-map-pin-line" style="font-size: 20px; margin-top: 3px;"></i>
                <p style="margin-left: 10px;">5900 Balcones Drive #8694<br>
                  Austin, TX 78731</p>
              </div>
              <div style="display: flex; align-items: flex-start;"> <i class="ri-mail-send-line" style="font-size: 20px;"></i>
                <p style="margin-left: 10px;">info@techatix.com</p>
              </div>
              <div style="display: flex; align-items: flex-start;"> <i class="ri-phone-line" style="font-size: 20px;"></i>
                <p style="margin-left: 10px;"></p>
              </div>
            </div>
          </div>
          <div>
            <h5 class="text-white mb-4">Social Media</h5>
            <a href="https://twitter.com/TechatixCom" class="twitter"><i class="bi bi-twitter-x"></i></a> <a href="https://www.facebook.com/profile.php?id=61556193136440" class="facebook"><i class="bi bi-facebook"></i></a> <a href="https://www.instagram.com/techatixcom/" class="instagram"><i class="bi bi-instagram"></i></a> <a href="https://linkedin.com/company/techatix" class="linkedin"><i class="bi bi-linkedin"></i></a> </div>
        </div>
        <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.5s">
          <h5 class="text-white mb-4">Popular Links</h5>
          <ul class="list-unstyled">
            <li class=""> <a class="link-light text-white-50" href="https://techatix.com/about.html">About Us</a> </li>
            <li class=""> <a class="link-light text-white-50" href="https://techatix.com/contact.html">Contact Us</a> </li>
            <li class=""> <a class="link-light text-white-50" href="https://techatix.com/privacy-policy.html">Privacy Policy</a> </li>
            <li class=""> <a class="link-light text-white-50" href="https://techatix.com/terms-and-conditions.html">Terms and Condition</a> </li>
            <li class=""> <a class="link-light text-white-50" href="https://techatix.com/careers.html">Careers</a> </li>
            <li class=""> <a class="link-light text-white-50" href="https://techatix.com/html-sitemap.html">Site Map</a> </li>
          </ul>
        </div>
        <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.5s">
          <h5 class="text-white mb-4">Solutions</h5>
          <ul class="list-unstyled">
            <li class=""> <a class="link-light text-white-50" href="https://techatix.com/solutions.html">Cloud Computing Services</a> </li>
            <li class=""> <a class="link-light text-white-50" href="https://techatix.com/solutions.html">Data Analytics and Business Intelligence</a> </li>
            <li class=""> <a class="link-light text-white-50" href="https://techatix.com/solutions.html">IT Outsourcing and Managed Services</a> </li>
            <li class=""> <a class="link-light text-white-50" href="https://techatix.com/solutions.html">Data Science</a> </li>
            <li class=""> <a class="link-light text-white-50" href="https://techatix.com/solutions.html">Staffing</a> </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container wow fadeIn" data-wow-delay="0.1s">
      <div class="copyright">
        <div class="row">
          <div class="col-md-6 text-center text-md-start mb-3 mb-md-0"> &copy; 2024 TechAtix Corp. All Right Reserved. </div>
          <div class="col-md-6 text-center text-md-end">
            <div class="footer-menu"> <a href="https://techatix.com/index.html">Home</a> <a href="">Help</a> <a class="scrollto" href="#faq">FAQs</a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>