<h1>{{ site.Title }}</h1>
{{ partial "menu.html" (dict "menuID" "main" "page" .) }}
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center navbar-scrolled">
    <div class="container d-flex align-items-center justify-content-between">
      <div class="logo">
        <!--<h1><a href="index.html">TechAtix</a></h1> -->
        <!-- Uncomment below if you prefer to use an image logo -->
<a href="index.html">
  <img src="assets/img/logo.png" alt="Techatix logo" class="img-fluid w-600">
</a>
      </div>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="./index.html">Home</a></li>
          <li><a class="nav-link scrollto" href="./about.html">About</a></li>
          <li><a class="nav-link scrollto" href="./services.html">Services</a></li>
          <li><a class="nav-link scrollto " href="./careers.html">Careers</a></li>
          <!-- <li><a class="nav-link scrollto" href="#team">Team</a></li>-->
          <!-- <li><a class="nav-link scrollto" href="#pricing">Pricing</a></li> -->
          <li><a class="nav-link scrollto" href="./contact.html">Contact</a></li>
          <li><a class="getstarted scrollto" href="#about">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
  